// Place all the styles related to the Api::Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.whole-carousel {
  padding: 20px;
  height: 405px;
  max-width: 700px;
}

.single-carousel-img {
 height: 405px;
 width: 700px;
 min-width: 0px;
 min-height: 0px;
 min-height: 0;
 min-width: 0;
 cursor: pointer;
 background-color: white;
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
}

.product-show-info {
  display: flex;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.hunterInfo {
  display: flex;
}

.productHuntedInfo {
  background: #fff;
  padding: 20px;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
}

.productHunterLink {
  display: flex;
    color: black
}

.productHunterListItem {
  display: flex;
  line-height: 18px;
  text-align: start;
  letter-spacing: 0.3px;
  color: #999999;
  font-size: 14px;
  margin-bottom: 1%;
  font-weight: 400;
}

.hunterInfoName {
  display: flex;
  font-size: 13px;
  line-height: 30px;
  margin-left: 30%;
  font-weight: 600;
}

.showProductImages {
  background: #fff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    font-family: sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.productImages {
  background-image: url((unknown));
  width: 111px;
  height: 111px;
  background: transparent;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 5px;
  border: 2px dotted #999
}

.profileUpvotedProductsList {
  padding: 60px 40px;
  min-height: 250px;
  margin: 25px 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  background: white;
  border: 1px solid #e8e8e8;
  min-width:930px;
}

.product-detail {
  background: #fff;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  justify-content: space-between;
  position: relative;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.product-show-buttons {
  display: flex;
  padding-top: 10px;
  border-top: 1px solid #e8e8e8;
}

.product-show-name {
  font-size: 28px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  letter-spacing: .4px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 8px;
  text-decoration: none;
  padding-left: 20px;
}

.product-show-description {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-size: 13px;
  text-align: left;
  line-height: 18px;
  color: #999;
  flex: 1 1 auto;
  margin: 0 10px 10px 1px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding-left: 20px;
}

.product-show {
  padding-top: 25px;
  min-width: 550px;
}

.product-auth-errors li{
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  flex-wrap: nowrap;
}

.product-auth-cont {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  flex-direction: column;
  padding: 5px 0;
}

.product-section {
  padding: 25px 200px 100px 200px;
  display: flex;
  justify-content: center;
  max-width: 1100px;
}

.allproducts {
  width: 750px;
  min-width: 350px;
  background-color: white;
}


.products-list-item {
  border: 1px solid #e8e8e8;
  padding: 15px;
  background-color: white;
  display: inline-flex;
  vertical-align: top;
  width: 100%;
  text-decoration: none;
  min-width: 450px;

  &:hover {
    background-color: #f9f9f9;
  }
}

.product-name {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .4px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 8px;
  text-decoration: none;
}

.product-description {
  font-size: 13px;
  line-height: 18px;
  padding-top: 7px;
  text-align: left;
  color: #999999;
  font-family: sans-serif;
  text-decoration: none;
}

.product-img {
  flex: .4;
  height: 100%;

}

.product-logo {
  max-width: 111px;
  max-height: 111px;
}

.product-description {
  color: #999999;
  flex: 1;
  text-align: left;
  text-decoration: none;
  padding-left: 4%;
}

.getit-button {
  color: #fff;
  background-color: #da552f;
  border: 1px solid #da552f;
  font-size: 11px;
  border-radius: 3px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  height: 34px;
  padding: 0 13px;
  margin: 0 10px 0 0;
  cursor: pointer;
  min-width: 50px;
  text-align: center;
  letter-spacing: 0.3px
}
