/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
 @import 'reset';


a {
  color: #da552f;
}

body {
  padding-top: 10px
}

.login {
  color: #000;
  background-color: white;
  border: 1px;
  border-radius: 3px;
  font-family: Helvetica,Arial,sans-serif;
  padding-right: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.signup {
  color: white;
  font-family: Helvetica,Arial,sans-serif;
  background-color: #da552f;
  font-size: 12px;
  border-radius: 3px;
}

form.login-form-box {
  display: flex;
  border-radius: 10px;
  position: relative;
  align-items: center;
  width: 400px;
  flex-wrap: nowrap;
  box-sizing: border-box
}

.nav-buttons .login{
  text-decoration: none;
  border-radius: 3px;
  height: 60%;
  border: 1px solid #e8e8e8;
  margin-right: 3px;
  font-size: 12px;
  padding: 7px 13px;
  font-weight: 500;

}

.intro-greeting {
  width: 48%;
  margin-left: 10px;
}

.intro-span {
  display: flex;
  padding: 20px;
  justify-content: space-between
}

.kitty img{
  width: 220px;
  display: flex;
  justify-content: flex-end;
}
.intro-signup {
  text-decoration: none;
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 1px solid #da552f;
  font-size: 12px;
  border-radius: 3px;

  font-weight: 500;
  font-size: 13px;
    height: 42px;
    padding: 10px 28px;
  &:hover{
   background-color: #da552f;
   opacity: 0.8;
   color: white;
 }
}

.intro-greeting h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  display: block;
    margin-bottom: 15px
}

.intro-greeting h6 {
  font-size: 15px;
    line-height: 25px;
    color: #999;
    font-weight: 200;
    margin: 10px 0 20px
}
.nav-buttons .signup{
  text-decoration: none;
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 1px solid #da552f;
  font-size: 12px;
  border-radius: 3px;
  padding: 7px 13px;
  font-weight: 500;

  &:hover{
   background-color: #da552f;
   opacity: 0.8;
   color: white;
 }
}


.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form input[type="submit"] {
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 2px solid #da552f;
  font-size: 11px;
  border-radius: 3px;
  margin-right: 3px;
  transform: translate(65px)
}

.header-button {
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 2px solid #da552f;
  font-size: 11px;
  border-radius: 3px;
}

.submit-guestlogin-button {
  cursor: pointer;
}

.submit-guestlogin-button input {
  margin: 2%;
}

header img {
 max-height: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px;
  position: relative;
  height: 32px;



}
header input[type="text"] {
  width: 240px;
  border-radius: 3px;
  height: 60%;
  border: 1px solid #e8e8e8;

}

a.login:hover {
  background-color: #e8e8e8;
}

input.login-input {
  // border-bottom: 1px solid gray;
  text-decoration: none;

}

.login-form input[value="Username"] {
  opacity: .5;
}

.login-form input[value="Password"] {
  opacity: .5;

}

.form-buttons {
  display: flex;
  justify-content: flex-start;

}

.login-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  border: 1px solid gray;
  border-radius: 10px;
}

.login-form{
  // display: flex;
  // flex-direction: column;
  // // justify-content: space-around;
  // align-items: center;
  margin: auto;
}
