/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
 @import 'reset';

.product-show-info {
  display: flex;
  padding-bottom: 10px;

}

.header-desc {
  display: block;
  padding-left: 5px;

font-size: 13px;
font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
color: #999;
text-align: start;
}
.homepageHeader {
  display: flex;
    justify-content: space-around;
    padding: 0 120px;
    min-width: 500px;
    padding: 0 80px;
    border-bottom: 1px solid #e8e8e8;
    max-height: 45px;
}

.logoWithTitle {
  display: flex;
}

.header-logo {
  max-height: 64%;
  padding-right: 5px;
}



.upvote-button {
  border: 1px solid transparent;
background: #fff;
border-color: #e8e8e8;
border-radius: 3px;
font-size: 12px;
font-family: sans-serif;
font-weight: 300;
cursor: pointer;
}
.product-detail {
    background: #fff;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    justify-content: space-between;
    position: relative;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

}

.product-show-buttons {
  display: flex;
  padding-top: 10px;
  border-top: 1px solid #e8e8e8;
}
.product-show-name {

font-size: 28px;
font-weight: 600;
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
letter-spacing: .4px;
line-height: 24px;
color: #000000;
padding-bottom: 8px;
text-decoration: none;
padding-left: 20px;
}

.product-show-desc {

  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;

font-size: 13px;
text-align: left;
line-height: 18px;
color: #999;
flex: 1 1 auto;
margin: 0 10px 10px 1px;
font-size: 16px;
line-height: 20px;
font-weight: 400;
padding-left: 20px;

}

.product-show {

padding-left: 200px;
padding-right: 200px;
padding-top: 25px;
min-width: 550px;
}

.auth-errors {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
}

.product-section {
  background-color: #f9f9f9;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 25px;
  display: flex;
  justify-content: center
}

.allproducts {
  width: 750px;
  min-width: 350px;

  background-color: white;

}

.products-list-item {
  border: 1px solid #e8e8e8;
  padding: 15px;
  background-color: white;
  display: inline-flex;
  vertical-align: top;
  width: 100%;
  text-decoration: none;
  min-width: 450px;
  &:hover {
    background-color: #f9f9f9;
  }
}

.product-name {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .4px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 8px;
  text-decoration: none;
}

.product-desc {
  font-size: 13px;
  line-height: 18px;
  padding-top: 7px;
  text-align: left;
  color: #999999;
  font-family: sans-serif;
  text-decoration: none;
}


.product-img {

  flex: .4;
  height: 100%;
}

.product-desc {

  color: #999999;
  flex: 1;
  text-align: left;
  text-decoration: none;
}

.getit-button {

    color: #fff;
    background-color: #da552f;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    border: 1px solid #da552f;
    font-size: 11px;
    border-radius: 3px;
    line-height: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    height: 34px;
    padding: 0 13px;
    margin: 0 10px 0 0;
    cursor: pointer;
    min-width: 50px;
    text-align: center;
    letter-spacing: 0.3px

}

.auth-errors li {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  flex-wrap: nowrap;
}

.auth-prompt {
  padding-top: 125px;
    padding-bottom: 50px;
    color: gray;
    font-size: 20px;
    font-weight: 300;
    font-family: sans-serif;
}

.modalCloseButton {
  position: absolute;
  color: white;
  font-size: 18px;
  text-align: center;
    top: 40px;
    left: 40px;
    z-index: 200;
    background: #bbbbbb;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 4px solid #bbbbbb;
    &:hover{
     background-color: #da552f;
     border: 4px solid #da552f;
   }
}

body {
  padding-top: 10px
}

.login {
  color: #000;
  background-color: white;
  border: 1px;
  border-radius: 3px;
  font-family: Helvetica,Arial,sans-serif;
  padding-right: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.signup {
  color: white;
  font-family: Helvetica,Arial,sans-serif;
  background-color: #da552f;
  font-size: 12px;
  border-radius: 3px;
}

form.login-form-box {
  display: flex;
  border-radius: 10px;
  position: relative;
  align-items: center;
  width: 400px;
  flex-wrap: nowrap;
  box-sizing: border-box
}

.nav-buttons .login{
  text-decoration: none;
  border-radius: 3px;
  height: 60%;
  border: 1px solid #e8e8e8;
  margin-right: 3px;
  font-size: 12px;
  padding: 7px 13px;
  font-weight: 500;

  flex-wrap: wrap;

}


.intro-greeting {
  width: 48%;
  margin-left: 10px;
}

.intro-span {
  min-width: 500px;
  display: flex;
  padding: 20px;
  justify-content: space-between;

  margin: 0 auto;
  padding-left: 125px;
  padding-right: 20%;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 60px;
  padding-bottom: 60px;

}

.kitty img{
  width: 220px;
  display: flex;
  justify-content: flex-end;
}
.intro-signup {

  text-decoration: none;
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 1px solid #da552f;
  font-size: 12px;
  border-radius: 3px;

  font-weight: 500;
  font-size: 13px;
    height: 42px;
    padding: 10px 28px;
  &:hover{
   background-color: #da552f;
   opacity: 0.8;
   color: white;
 }
}

.intro-greeting h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  display: block;
    margin-bottom: 15px
}

.intro-greeting h6 {
  font-size: 15px;
    line-height: 25px;
    color: #999;
    font-weight: 200;
    margin: 10px 0 20px
}
.nav-buttons .signup{
  text-decoration: none;
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 1px solid #da552f;
  font-size: 12px;
  border-radius: 3px;
  padding: 7px 13px;
  font-weight: 500;



  &:hover{
   background-color: #da552f;
   opacity: 0.8;
   color: white;
 }
}

.nav-buttons {
  min-width: 160px;
  display: flex;
  justify-content: center;

}

.login-form-container {
  display: flex;
  justify-content: center;
  max-height: 200px;
}

.login-form input[type="submit"] {
  text-decoration: none;
    color: white;
    background-color: #da552f;
    font-family: Helvetica,Arial,sans-serif;
    border: 1px solid #da552f;
    font-size: 12px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    height: 42px;
    padding: 10px 28px;
    margin: 4px;

}

.header-button {

  text-decoration: none;
color: white;
background-color: #da552f;
font-family: Helvetica,Arial,sans-serif;
border: 1px solid #da552f;
font-size: 12px;
border-radius: 3px;
padding: 7px 13px;
font-weight: 500;
}

.submit-guestlogin-button {
  cursor: pointer;
}

.submit-guestlogin-button input {
  margin: 2%;
}

.header-title {
  color: #da552f;
    padding-left: 5px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
}
header img {
 max-height: 100%;
 padding-left: 10px
}
header {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px;
  position: relative;
  height: 32px;
  min-width: 500px;
  padding-left: 230px;
  padding-right: 230px;
  margin: 0 auto;


}


header input[type="text"] {
  width: 280px;
  border-radius: 3px;

  border: 1px solid #e8e8e8;
  font-size: 13px
}



a.login:hover {
  background-color: #e8e8e8;
}

input.login-input {
  text-decoration: none;
  border-radius: 3px;
  width: 200px;
  height: 25px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
}
input.signup-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.login-form input[value="Username"] {
  opacity: .5;
}

.login-form input[value="Password"] {
  opacity: .5;

}

.form-buttons {
  display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
flex-direction: column;
}

.login-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.search-bar {
  background: #fff;
border: 1px solid #e8e8e8;
-webkit-box-sizing: border-box;
box-sizing: border-box;
height: 30px;
padding: 0 10px 0 32px;
width: 100%;
min-width: 275px;
font-size: 13px;
font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
line-height: normal;
border-radius: 3px;
}

.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
