/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
 @import "./reset";


a {
  color: #da552f;
}

.login {
  color: #000;
  background-color: white;
  border: 1px;
  border-radius: 3px;
  font-family: Helvetica,Arial,sans-serif;
  padding-right: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.signup {
  color: white;
  font-family: Helvetica,Arial,sans-serif;
  background-color: #da552f;
  font-size: 12px;
  border-radius: 3px;
}

.login-form-box {
  display: flex;
  justify-content: center;

  border-radius: 10px;
  border: 1px, black;
  align-items: center;
  width: 400px;
  flex-wrap: nowrap;
  box-sizing: border-box
}

.login-form-container {
  display: flex;
  justify-content: center;
}



.login-form input[type="submit"] {
  display: flex;



  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 2px solid #da552f;
  font-size: 12px;
  border-radius: 5px;
  transform: translate(65px)
}

.header-button {
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 2px solid #da552f;
  font-size: 12px;
  border-radius: 5px;
}

input.login-input {
  border: 1px solid black;
  flex-flow: center;


}
.submit-guestlogin-button input {
  display: block;
  flex-direction: column;
  align-items: center;
  display: flex;
 flex-direction: column;
 justify-content: center;
  margin: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: #e8e8e8;
  padding: 15px 0;
  position: relative;
  height: 32px;
}

.login-form-box {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  border-radius: 10px;

}

.login-form label {
  display: flex;
  justify-content: center;
}


.ReactModal__Body--open {
  overflow: hidden;
  // width: 80%;
}
