/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
 @import 'reset';




 body {
   font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
 }

 .comment-section {
    background: #fff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
 }

 .comments-header {
   font-size: 11px;
   font-weight: 600;
   border-bottom-color: #999;
   color: #999;
   padding-top: 25px;
 }

 .comment-blurb-count {
   padding-right: 10px;
   text-align: center;
 }

 .comment-input {
   background: #fff;
    border-radius: 3px;
    border: 1px solid #f0f0f0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    padding: 7px 10px;
    margin: -1px 0 0;
    width: 100%;
    margin-left: 15px;
 }

 .comment-submit-btn {
   background: #da552f;
  border-color: #da552f;
  color: #fff;
  height: 34px;
  padding: 0px 13px;
  fill: #fff;
  vertical-align: top;
  border-radius: 3px;
  border: 1px solid transparent;
  box-sizing: border-box;
  outline: 0;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  text-decoration: none!important;
 }

 .comment-form-inner-cont {
   display: flex;
   line-height: 20px;
   align-items: center;
 }


 .actions_4493e {
   -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin: 10px 0 0;
  text-align: right;
 }
 .new-comment-form {
   border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
 }


.product-show-info {
  display: flex;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.hunterInfo {
  display: flex;
}

.signup-prompt-outer {
  display: block;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #999;
}


.signup-prompt-link {
  cursor: pointer;
  color: #da552f;
  text-decoration: none;
}
.comment-text {
  margin: 0 0 15px 42px;
  white-space: pre-line;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}
.commentAuthorInfo {
  color: #999;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row
}

.hunterImage {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.commentAuthorImg {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}



.edit-form-button {
  background: white;
  border: transparent;
  font-size: 14px;
  font-weight: 700;
}

.editProfilePage {
  background: #f9f9f9;

}

.editProfileForm {
  max-width: 1100px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;

  h2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
  }
}
.editUsernameInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.editListItem {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 15px 0 0;
  width: 100px;
  line-height: 20px;
  font-size: 15px;
}

.editListItemDesc {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 20px 0 0;
  width: 150px;
  line-height: 20px;
  font-size: 14px;

}

.icon_f5f81.orange_768d8 {
  background-image: url(https://s3.producthunt.com/static/upvote-burst-orange.png)
}

.editProfileImage {
  width: 111px;
    height: 111px;
    background: transparent;


    margin: 10px;
    border: 2px dotted #999;

    border-radius: 50%;
    width: 140px;
    height: 140px;


}

.editProfileTitle {
  align-items: baseline;
border-bottom: 1px solid #e8e8e8;
}
.editUserTitle {
  align-items: baseline;

  padding: 15px 0;

  font-size: 20px;
    font-weight: 300;
    line-height: 24px;

  color: #000;
  display: flex;

}

.field {
  display: flex;
}

.form-control {
  margin: 10%;
  width: 400px;
  min-width: 66%;
  line-height: 35px;
  padding: 7px 0;
  font-size: 22px;
  color: #999;
  text-align: left;
  padding-left: 15px;
  font-weight: 300;
  border: 1px solid transparent;

}

.editFormDetails {
  width: 100%;

}


.editFormCont {

  min-width: 769px;
  line-height: 35px;
  padding: 7px 0;
  font-size: 22px;
  color: #999;
  background: white;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  text-align: left;
  padding: 0 15px;
  font-weight: 300;

}

.editSubmitButton {
  display: flex;

  justify-content: flex-start;
  padding: 8px;
}

.editForm {
  display: flex;
  justify-content: flex-start;
}

.btn-primary {
  text-decoration: none;
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 1px solid #da552f;
  font-size: 12px;
  border-radius: 3px;
  padding: 7px 13px;
  font-weight: 500;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
}

.productHuntedInfo {
  background: #fff;
  padding: 20px;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
}

.productHunterLink {
  display: flex;
    color: black
}

.productHunterListItem {
  display: flex;
  line-height: 18px;
  text-align: start;
  letter-spacing: 0.3px;
  color: #999999;
  font-size: 14px;
  margin-bottom: 1%;
  font-weight: 400;
}

.hunterInfoName {
  display: flex;
  font-size: 13px;
  line-height: 30px;
  margin-left: 30%;
  font-weight: 600;
}

.userProfileCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userProfileImage {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}
.user-detail {
  padding: 60px 80px;
  height: 140px;
  margin: 25px 15px;
  flex-flow: row;
  border-radius: 3px;
  background: none 50%/cover #505d6c;
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  min-width: 770px;
  width: 68%;
}

.userProfileProducts {
  width: 68%;
  min-width: 770px;
}

.user-show-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editUserinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border-radius: 3px;
  border-color: #e8e8e8;
  height: 34px;
  text-align: center;
  display: inline-flex;
  padding: 0 13px;
  vertical-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.userProfileEditButton {
  width: 50px;
  font-weight: 500;
  font-size: 11px;
  padding: 0 13px;
  text-align: center;
  line-height: 34px;
  letter-spacing: 0.3px;
  border: 1px solid transparent;
  background: #fff;
  border-color: #e8e8e8;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

.userProfileProdHeader {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  align-self: flex-start;
  padding-left: 17%;
}

.user-show-name {
  font-size: 28px;
    font-weight: 600;
    margin-left: 10px;
    line-height: 34px;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.showProductImages {
  background: #fff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    font-family: sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.uploadImagesPrompt {
  color: gray;
  min-width: 66%;
  line-height: 35px;
  padding: 7px 0;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding-left: 15px;
  font-weight: 300;
}

.productImages {
  background-image: url((unknown));
  width: 111px;
  height: 111px;
  background: transparent;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 5px;
  border: 2px dotted #999
}

.uploadLogoPrompt {
  color: gray;
  min-width: 66%;
  line-height: 35px;
  padding: 7px 0;
  font-size: 22px;
  display: flex;
  text-align: left;
  padding-left: 15px;
  font-weight: 300;
}

.uploadLogoField {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profileUpvotedProductsList {
  padding: 60px 40px;
  min-height: 250px;
  margin: 25px 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  background: white;
  border: 1px solid #e8e8e8;
  min-width:930px;
}


.uploadImagesField {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.uploadFormButton {
  border: 2px dotted #999;
  width: 111px;
  height: 111px;
  background: transparent;
  border-radius: 3px;
  margin-top: 20px;
}

.addProductButton {
  font-size: 28px;
  padding-right: 10px;
  text-align: center;
  color: #999;
  font-weight: 300;
}

.productFormTitle {
  margin-top: 9%;
  font-size: 20px;
  color: #999;
  padding-bottom: 45px;
}
.productForm input {
  min-width: 66%;
      line-height: 35px;
      padding: 7px 0;
      font-size: 22px;
      color: #999;
      text-align: left;
padding-left: 15px;
font-weight: 300;
border: 1px solid transparent;
border-bottom: 1px solid #999;
}

.productFormButtons {
  text-decoration: none;
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 1px solid #da552f;
  font-size: 12px;
  border-radius: 3px;
  margin-top: 25px;
  font-weight: 500;
  font-size: 13px;
    height: 42px;
    padding: 10px 28px;
  &:hover{
   background-color: #da552f;
   opacity: 0.8;
   color: white;
 }
 }

.productForm {

  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
    flex-direction: column;
    min-height: 680px;
    min-width: 500px;

}

.outerProductForm {
  border: 1px solid #e8e8e8;
  margin: 12%;
  border-radius: 3px;
  min-width: 500px;
  min-height: 500px;
}


.header-group {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

}
.header-description {
  display: block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #999;
  text-align: start;
}

.homepageHeader {
  // display: flex;
  // justify-content: space-around;
  // padding: 0 120px;
  // min-width: 770px;
  // padding: 10px 80px;
  // border-bottom: 1px solid #e8e8e8;
  max-height: 45px;
}

.nav-bar {
  min-width: 770px;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-around;
}

.logoWithTitle {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
}

.upvote-button {
  border: 1px solid transparent;
  background: #fff;
  border-color: #e8e8e8;
  border-radius: 3px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 66px;
}

.fa-comment:before {
  color: #999;
}

.comment-blurb {
  border: 1px solid transparent;
  background: #fff;
  border-color: #e8e8e8;
  width: 40px;
  height: 22px;
  padding-top: 1px;
  margin-left: 4px;
  align-self: flex-end;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 11px;
  line-height: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-weight: 600;
  color: #999;
  justify-content: space-around;
}

.product-idx-buttons {
  display: flex;
}

.upvote-button-idx {
  padding: 0 8px;
  align-self: flex-end;
  border: 1px solid transparent;
  background: #fff;
  border-color: #e8e8e8;
  border-radius: 5px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 25px;
}

.upvote-caret {
  height: 26px;
  height: 26px;
  margin: 0;
  width: 20px;
  padding-right: 2px;
}

.upvote-count {
  font-size: 11px;
  line-height: 16px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.product-detail {
  background: #fff;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  justify-content: space-between;
  position: relative;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.product-show-buttons {
  display: flex;
  padding-top: 10px;
  border-top: 1px solid #e8e8e8;
}

.product-show-name {
  font-size: 28px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  letter-spacing: .4px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 8px;
  text-decoration: none;
  padding-left: 20px;
}

.product-show-description {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-size: 13px;
  text-align: left;
  line-height: 18px;
  color: #999;
  flex: 1 1 auto;
  margin: 0 10px 10px 1px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding-left: 20px;
}

.product-show {
  padding-top: 25px;
  min-width: 550px;
}

.product-auth-errors li{
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  flex-wrap: nowrap;
}

.auth-errors {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
}

.product-auth-cont {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  flex-direction: column;
  padding: 5px 0;
}

.product-section {
  background-color: #f9f9f9;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 25px;
  display: flex;
  justify-content: center
}

.allproducts {
  width: 750px;
  min-width: 350px;
  background-color: white;
}

.products-list-item {
  border: 1px solid #e8e8e8;
  padding: 15px;
  background-color: white;
  display: inline-flex;
  vertical-align: top;
  width: 100%;
  text-decoration: none;
  min-width: 450px;

  &:hover {
    background-color: #f9f9f9;
  }
}

.product-name {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .4px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 8px;
  text-decoration: none;
}

.product-description {
  font-size: 13px;
  line-height: 18px;
  padding-top: 7px;
  text-align: left;
  color: #999999;
  font-family: sans-serif;
  text-decoration: none;
}

.formCloseButton {
  position: absolute;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 200;
  background: #bbbbbb;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 4px solid #bbbbbb;
  cursor: pointer;

  &:hover{
   background-color: #da552f;
   border: 4px solid #da552f;
  }
}

.product-img {
  flex: .4;
  height: 100%;
}

.product-description {
  color: #999999;
  flex: 1;
  text-align: left;
  text-decoration: none;
}

.getit-button {
  color: #fff;
  background-color: #da552f;
  border: 1px solid #da552f;
  font-size: 11px;
  border-radius: 3px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  height: 34px;
  padding: 0 13px;
  margin: 0 10px 0 0;
  cursor: pointer;
  min-width: 50px;
  text-align: center;
  letter-spacing: 0.3px
}

.auth-errors li {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  flex-wrap: nowrap;
}

.auth-prompt {
  padding-top: 125px;
  padding-bottom: 50px;
  color: gray;
  font-size: 20px;
  font-weight: 300;
  font-family: sans-serif;
}

.modalCloseButton {
  position: absolute;
  color: white;
  font-size: 18px;
  text-align: center;
  top: 40px;
  left: 40px;
  z-index: 200;
  background: #bbbbbb;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 4px solid #bbbbbb;

  &:hover{
    background-color: #da552f;
    border: 4px solid #da552f;
  }
}

body {
  padding-top: 10px
}

.login {
  color: #000;
  background-color: white;
  border: 1px;
  border-radius: 3px;
  font-family: Helvetica,Arial,sans-serif;
  padding-right: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.signup {
  color: white;
  font-family: Helvetica,Arial,sans-serif;
  background-color: #da552f;
  font-size: 12px;
  border-radius: 3px;
}

form.login-form-box {
  display: flex;
  border-radius: 10px;
  position: relative;
  align-items: center;
  width: 400px;
  flex-wrap: nowrap;
  box-sizing: border-box
}

.nav-buttons .login{
  text-decoration: none;
  border-radius: 3px;
  height: 60%;
  border: 1px solid #e8e8e8;
  margin-right: 3px;
  font-size: 12px;
  padding: 7px 13px;
  font-weight: 500;
  flex-wrap: wrap;
}

.intro-greeting {
  width: 460px;
  margin-right: 248px;
  margin-left: 10px;
}

.intro-span {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid #e8e8e8;
  padding: 60px 20% 60px 125px;
}

.kitty img{
  width: 220px;
  display: flex;
  justify-content: flex-end;
}

.intro-signup {
  text-decoration: none;
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 1px solid #da552f;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 13px;
  height: 42px;
  padding: 10px 28px;
  &:hover{
    background-color: #da552f;
    opacity: 0.8;
    color: white;
  }
}

.intro-greeting h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
  display: block;
  margin-bottom: 15px
}

.intro-greeting h6 {
  font-size: 15px;
  line-height: 25px;
  color: #999;
  font-weight: 200;
  margin: 10px 0 20px
}
.nav-buttons .signup{
  text-decoration: none;
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 1px solid #da552f;
  font-size: 12px;
  border-radius: 3px;
  padding: 7px 13px;
  font-weight: 500;

  &:hover{
   background-color: #da552f;
   opacity: 0.8;
   color: white;
  }
}

.nav-buttons {
  min-width: 160px;
  display: flex;
  justify-content: center;
}

.login-form-container {
  display: flex;
  justify-content: center;
  max-height: 200px;
}

.login-form input[type="submit"] {
  text-decoration: none;
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 1px solid #da552f;
  font-size: 12px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  height: 42px;
  padding: 10px 28px;
  margin: 4px;
}

.logout-header-button {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 1px solid #da552f;
  font-size: 12px;
  border-radius: 3px;
  padding: 7px 13px;
  font-weight: 500;
}


.edit-submit-button {
  text-decoration: none;
  color: white;
  background-color: #da552f;
  font-family: Helvetica,Arial,sans-serif;
  border: 1px solid #da552f;
  font-size: 12px;
  border-radius: 3px;
  padding: 7px 13px;
  font-weight: 450;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
}

.submit-guestlogin-button {
  cursor: pointer;
}

.submit-guestlogin-button input {
  margin: 2%;
}

.header-title {
  color: #da552f;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
}

header img {
  max-height: 100%;
  padding-left: 10px
}

header {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px;
  position: relative;
  height: 32px;
  min-width: 500px;
  padding-left: 230px;
  padding-right: 230px;
  margin: 0 auto;
}

header input[type="text"] {
  width: 280px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  font-size: 13px
}

a.login:hover {
  background-color: #e8e8e8;
}

input.login-input {
  text-decoration: none;
  border-radius: 3px;
  width: 200px;
  height: 25px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
}

input.signup-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.login-form input[value="Username"] {
  opacity: .5;
}

.login-form input[value="Password"] {
  opacity: .5;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
}

.login-form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
}

.search-form {
  align-items: center;
  display: flex;
}

.header-description {
  font-weight: 400;
}

.search {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  min-width: 300px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-bar {
  width: 233px;
  border: none;
  font-size: 13px;
  color: #999;
  font-weight: 400;
}

.search-icon {
  fill: #999;
  height: 14px;
  left: 8px;
  top: 8px;
  width: 14px;
  padding: 0 5px;
}

.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
